body {
    background: #004d7a !important;
}

.calculator-container {
    position: absolute;

    display: flex;
    flex-direction: column;
    width: 670px;
    min-height: 760px;
    border: solid 2px blue;
    left: 50%;
    margin-left: -335px;
    top: 50%;
    margin-top: -380px;
    padding: 0px;
    background: #fff;
}
.calculator-container--divider {

    min-height: 60px;

}

.calculator-header {
    min-height: 48px;
    padding: 15px;
    background: #6100ED;
}

.calculator-header-textbtn {
    color: #fff;
    height: 24px;
    cursor: pointer;

}

.calculator-header-textbtn:hover {
    color: orangered;
}
.calculator-counter {
    margin-top: 10px;
    margin-bottom: -40px;
    color: #6100ED;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
}
.calculator-operator-badge {
    float: right;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    color: #fff;
    background: #000;
    text-align: center;
    line-height: 20px;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #c0c0c0 !important;
    border-color: #c0c0c0 !important;
}